RewriteEngine On

ErrorDocument 404 /cms/includes/404.html

RewriteCond %{REQUEST_URI} !^/login$
RewriteRule ^$ cms/login.php [L]
RewriteRule ^login$ cms/login.php [L]
RewriteRule ^index$ cms/index.php [L]
RewriteRule ^fichas$ cms/fichas.php [L]
RewriteRule ^ajustes$ cms/settings.php [L]